@model IEnumerable<LicentaPharmastock.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="custom-btn">Add new product</a>
</p>
<table class="table table-bordered"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-show-loading="false"
       data-sortable="true">
    <thead>
        <tr>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr data-toggle="false">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="custom-btn-small">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="custom-btn-small">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
}
